# Environment files
.env
.env.development
.env.production
.env.example

# Logs
logs/
*.log

# Dependency directories
node_modules/

# Build output
dist/

# IDE/Editor files
.vscode/
.idea/

# Prisma
/prisma/migrations/
/prisma/*.db

# OS files
.DS_Store
Thumbs.db

# Testing
coverage/

# Public
.vscode
public/**/*